---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import ReadingModeToggle from "@/components/shared/ReadingModeToggle.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <article class="mx-auto w-full max-w-[90ch]">
    <ReadingModeToggle />
    <main class="post flex flex-col gap-4">
      <header role="presentation" class="mb-8">
        <h1 class="mb-4 text-2xl font-bold text-white">
          {post.data.title}
        </h1>
        <time class="text-sm text-neutral-400">
          {formatDate(post.data.publishedAt)}
        </time>
        <p class="mt-4 italic text-neutral-300">{post.data.description}</p>
      </header>
      <div class="divider m-0"></div>
      <Content />
    </main>
  </article>
</Layout>
